nav {
  background-color: darkcyan;
  padding: 20px 30px;
}

/* nav a demek nav Link anlamına geliyor */
nav a {
  text-decoration: none;
  color: white;
  margin-right: 25px;
  font-size: 20px;
}

/* NavLink'te hangisi aktif ise yani hangisine basılmışsa onun css'i bunlar olsun */
nav a.active {
  font-weight: bold;
  font-size: 25px;
}
