.App{
    margin-bottom: 30px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: violet;
    color: white;
}

.navbar h3{
    font-size: 25px;
}

.navDiv {
    position: relative;
}

.itemsIcon {
    position: absolute;
    bottom: 33px;
    right: 8px;
}

.itemsDiv{
    background-color: #fff;
    color: black;
    text-align: center;
    width: 20px;
    border-radius: 50%;
}

.card{
    text-align: center;
}

.cardClearButton{
    padding: 12px;
    border: none;
    border-radius: 30px;
    background-color: violet;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.cardItem{
    display: flex;
    justify-content: space-between;
    margin: 30px 150px;
}

.cardItem img{
    width: 450px;
    height: 400px;
}

.cardInfo{
    text-align: right;
}

.cardQuantityButton{
    border: none;
    background-color: transparent;
}

.cardQuantity{
    margin-right: 8px;
}

.cardDeleteButton{
    padding: 12px;
    border: none;
    border-radius: 30px;
    background-color: red;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 50px;
}