@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
.App {
  margin: 10px;
  font-family: "Poppins", sans-serif;
}

.searchDiv {
  border: 3px solid #ec7063;
  border-radius: 5px;
  padding: 15px;
  background-color: #ec7063;
}

.searchDiv form {
  display: flex;
  flex-direction: column;
}

.searchDiv form label {
  font-size: 20px;
  text-align: center;
}

.searchDiv form input {
  padding: 8px;
  font-size: 17px;
  margin: 0px 200px;
}

.imageList {
  columns: 250px 4;
  column-gap: 10px;
}

.imageListImg {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
